{
	"youtubeApiKey": {
		"defaultValue": "",
		"dataType": "string",
		"isSensitive": true,
		"description": "Youtube service key"
	},
	"username": {
		"defaultValue": "",
		"dataType": "string",
		"isSensitive": false,
		"description": "Youtube username"
	}
}
